body{
    background: #ee3f54;
}
.nav-title-padding{
    padding-top: 30px;
}
#social-container{
    background-color: #1c3646;  
    padding-top: 10px;
}
#logo-container .callout{
    font-family: 'Amatic SC', cursive;
    background-color: #967747;
    font-size: 3.2em;
    color: #ffffff;
    margin-bottom: 0;
}
#menu-container{
    font-family: 'Amatic SC', cursive;
}
/*----------options menu --------------*/
.top-bar, .top-bar ul {
    background-color: #008080;
}
.title-bar{
    background-color: #008080;
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
}
.title-bar .menu-icon {
    margin-right: 0.6rem;
}
/*----------options menu --------------*/

#menu-container li a{
    color: #ffffff;
    font-size: 1.5em;
}
#menu-container li a:hover{
    color:#1c3646;
}
img.img-responsive-circle{
max-width: 100%;
height: auto;
border-radius: 50% 
}
.font-load-profile
{
    font-family: 'Amatic SC', cursive;
    color: #ffffff;
    font-size: 5.5em;
    margin-bottom: 0;
}
#timeline-header{
    background-color: #5e7eb7;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0.8em;
}

@media (min-width: 331px) and (max-width: 427px) {
    .tabs-title {
        display: inline-block;
        float: none;
        font-size: .65em;
    }    
}
@media(max-width: 330px) {
    .tabs-title {
        display: inline-block;
        float: none;
        font-size: .55em;
    }    
}

#line-container, #line-container .tabs {
    font-family: 'Amatic SC', cursive;
    background-color: #5e7eb7;
    color:#ffffff;
    border:0;
}
#line-container .tabs .tabs-title a{ 
    font-size: 2.2em;
    font-weight: bold;
    color:#ffffff;
}
#line-container .tabs .tabs-title a:hover{
    color: rgba(255, 255, 255, 0.66);
    background-color: transparent;
    text-decoration:overline ;
}
#line-container .tabs .tabs-title.is-active a{
    background-color: #5e7eb7;
    text-decoration:overline;
} 
.tabs-title{
    display: inline-block;
    float: none;
}
.tabs-panel{
    color:#ffffff;
    font-size: 2.2em;
    background: #5e7eb7;
}
.title-left{
    color: gray;
    padding-left: 2.7em;
}
.secondary-p
{
    color:#59b5b1;
}
.secondary-h{
    font-weight: bold;
    color:#59b5b1;
    font-family: 'Amatic SC', cursive;
}

/*------------------------Section Tech---------------------------------------------*/
#tech-container{
    
    background-color: #967747;
}
#tech-container h1{
    font-weight: bold;
    color:#ffffff;
    font-family: 'Amatic SC', cursive;
    font-size: 3.8em;
    
}
.card-font{
    font-weight: bold;
    font-size: 1.3em;
}
/*------------------------Section Tech---------------------------------------------*/

/*------------------------Section Social Media 2---------------------------------------------*/
#socialmedia-container  .marketing-site-three-up-headline{
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 3.3em;
    color: #59B5B1;
}
/*------------------------Section Social Media 2---------------------------------------------*/

/*-----------------------Section Education Container ------------------------------*/
#education-container {
    background-color: #86AA85;
    font-family: 'Amatic SC', cursive;
    color: white;
}
#education-container h2 {
    font-family: 'Amatic SC', cursive;
    color: #ffffff;
    font-size: 3.8em;
}
#education-container p {
    font-family: 'Amatic SC', cursive;
    color: #ffffff;
    font-size: 1.8em;
}
#education-container h1{
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 2.2em;
    
}

@media (min-width: 500px) and (max-width: 594px) {
    .article-row-img img{
        margin-left: 11rem;
    }
}
@media (min-width: 595px) and (max-width: 639px) {
    .article-row-img img{
        margin-left: 12.6rem;
    }
}
@media (min-width: 470px) and (max-width: 499px) {
    .article-row-img img{
        margin-left: 8.8rem;
    }
}
@media (min-width: 400px) and (max-width: 469px) {
    .article-row-img img{
        margin-left: 6.8rem;
    }
}
@media (min-width: 380px) and (max-width: 400px) {
    .article-row-img img{
        margin-left: 5.5rem;
    }
}
@media (min-width: 280px) and (max-width: 300px) {
    .article-row-img img{
        margin-left: 2.5rem;
    }
}
@media (min-width: 301px) and (max-width: 340px) {
    .article-row-img img{
        margin-left: 4.0rem;
    }
}
@media (min-width: 341px) and (max-width: 379px) {
    .article-row-img img{
        margin-left: 5.0rem;
    }
}
/* build section */
.article-row-section {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .article-row-section-inner {
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    max-width: 100%;
  }
  
  @media print, screen and (min-width: 40em) {
    .article-row-section-inner {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
  }
  
  @media print, screen and (min-width: 40em) {
    .article-row-section-inner {
      -webkit-flex: 0 0 83.33333%;
          -ms-flex: 0 0 83.33333%;
              flex: 0 0 83.33333%;
      max-width: 83.33333%;
      padding-right: 0.625rem;
      padding-left: 0.625rem;
      max-width: 83.33333%;
    }
  }
  
  @media print, screen and (min-width: 40em) and (min-width: 40em) {
    .article-row-section-inner {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
  }
  
  .article-row-section-header {
    padding: 1.5rem 0;
    margin: 0;
    line-height: 1;
  }
  
  .article-row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    border-top: 1px solid #e6e6e6;
    padding: 1.5rem 0;
  }
  
  @media print, screen and (min-width: 40em) {
    .article-row {
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
    }
  }
  
  .article-row-img img {
    width: 200px;
    height: 200px;
  }
  
  @media print, screen and (min-width: 40em) {
    .article-row-img img {
      max-width: none;
      width: auto;
    }
  }
  
  .article-row-content {
    padding: 1.5rem 0 0;
    color: #0a0a0a;
  }
  
  @media print, screen and (min-width: 40em) {
    .article-row-content {
      padding: 0 0 0 1.5rem;
    }
  }
  
  .article-row-content-header {
    font-size: 1.5rem;
  }
  
  .article-row-content-description {
    font-size: 1.25rem;
  }
  
  .article-row-content-author,
  .article-row-content-time {
    font-size: 0.875rem;
    margin-bottom: 0;
    color: #8a8a8a;
  }
  
  .article-row-reversed .article-row-content {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    padding: 0 1.5rem 0 0;
  }
  
  .article-row-reversed .article-row-img {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    padding: 0 0 1.5rem 0;
  }
  
  @media print, screen and (min-width: 40em) {
    .article-row-reversed .article-row-content {
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1;
    }
    .article-row-reversed .article-row-img {
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2;
    }
  }
/*-----------------------Section Education Container ------------------------------*/

/*-----------------------Social Media Container -----------------------------------*/
#socialmedia-container{
    background-color: #E6E8EB;
}

.marketing-site-three-up {
    text-align: center;
    padding: 2rem 0;
  }
  
  .marketing-site-three-up .row {
    max-width: 900px;
  }
  
  .marketing-site-three-up .columns {
    margin-bottom: 1rem;
  }
  
  @media screen and (min-width: 40em) {
    .marketing-site-three-up .columns {
      margin-bottom: 0;
    }
  }
  
  .marketing-site-three-up .fa {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #1779ba;
  }
  
  .marketing-site-three-up-headline {
    margin-bottom: 2rem;
    font-size: 24px;
  }
/*-----------------------Social Media Container -----------------------------------*/

/*-----------------------Project Container -----------------------------------*/
.font-project{
    color: #008080;
    font-family: 'Amatic SC', cursive;
    font-size: 3.2em;
    font-weight: bold;
}
.font-project-title{
    color: #008080;
    font-family: 'Amatic SC', cursive;
    font-size: 4.2em;
    font-weight: bold;
}
.font-project-cont{
    font-family: 'Amatic SC', cursive;
    font-size: 1.7em;
    font-weight: bold;
}
#projects-container{
    background-color: #86AAAA;
} 
.button.hollow.success a {
    color: #5da423;
}

/*-----------------------Project Container -----------------------------------*/

/*-----------------------Footer Container -----------------------------------*/

.responsive-blog-footer {
    background: #4a4a4a;
    padding: 3rem 3rem;
    color: white;
  }
  
  @media screen and (max-width: 39.9375em) {
    .responsive-blog-footer h4 {
      font-size: 1.5rem;
    }
  }
  
  .responsive-blog-footer p {
    color: #8a8a8a;
  }
  
  .responsive-blog-footer .mailing-list {
    margin-bottom: 1.5rem;
  }
  
  .responsive-blog-footer .mailing-container {
    margin-bottom: 2rem;
  }
  
  .responsive-blog-footer .about-section, .responsive-blog-footer .tag-section {
    margin-bottom: 2rem;
  }
  
  .responsive-blog-footer .about-section a, .responsive-blog-footer .tag-section a {
    color: #1779ba;
  }
  
  .responsive-blog-footer .subscribe-button {
    background-color: #1779ba;
  }
  
  .responsive-blog-footer .subscribe-button:hover {
    background-color: #146aa3;
    transition: color 0.3s ease-in;
  }
  
  .responsive-blog-footer .fa-chevron-circle-up {
    font-size: 3rem;
    color: #8a8a8a;
  }
  
  .responsive-blog-footer .fa-chevron-circle-up:hover {
    color: #b0b0b0;
    transition: color 0.3s ease-in;
  }  
/*-----------------------Footer Container -----------------------------------*/